@page "/matchme"
@using pokemon_project.Data
@inject PokemonService PokemonService
@using pokemon_project.Models


<h3>Find Your Pokémon Twin</h3>

<div class="card p-3 mb-3">
    <div class="mb-2">
        <label><strong>Your Height</strong></label>

        <div class="d-flex gap-2">
            <!-- Input feet -->
            <div>
                <InputNumber @bind-Value="heightFeet" class="form-control" style="width: 120px;" />
                <small>Feet</small>
            </div>

            <!-- Input inches -->
            <div>
                <InputNumber @bind-Value="heightInch" class="form-control" style="width: 120px;" />
                <small>inches</small>
            </div>

            <!-- Display cm -->
            <div class="align-self-center" style="margin-top: -20px;">
                <span><strong class="bi bi-arrow-right"></strong> <strong>@heightCm.ToString(format: "0.00") cm</strong></span>
            </div>
        </div>
    </div>

    <!-- Input weight -->
    <div class="mb-2">
        <label>Your Weight (kg)</label>
        <InputNumber @bind-Value="weightKg" class="form-control" style="width: 250px"/>
    </div>

    <button class="btn btn-primary" @onclick="FindMatch">Find My Pokémon</button>
</div>

<!-- Handle error and empty -->
@if (isLoading)
{
    <p>Loading...</p>
}
else if (!string.IsNullOrEmpty(error))
{
    <div class="alert alert-danger">@error</div>
}
else if (bestMatch != null)
{
    <!-- Display main match -->
    <div class="card p-3 mb-4">
        <h4>Your Closest Match: <span class="text-capitalize">@bestMatch.Name</span></h4>

        @if (!string.IsNullOrEmpty(bestMatch.Sprites.FrontDefault))
        {
            <img src="@bestMatch.Sprites.FrontDefault" style="width:150px" />
        }

        <p><strong>Height: </strong>@(bestMatch.Height * 10) cm</p>
        <p><strong>Weight: </strong>@(bestMatch.Weight / 10.0) kg</p>
    </div>

    <h5>Top 3 Matches</h5>
    <p>The lower the score the closer the match!</p>

    <div class="d-flex flex-wrap gap-3">
        <!-- Display top 3 -->
        @foreach ((Pokemon match, double score) matches in top3)
        {
            <div class="card p-3" style="width: 200px;">
                <h6 class="text-capitalize text-center">@matches.match.Name</h6>

                @if (!string.IsNullOrEmpty(matches.match.Sprites.FrontDefault))
                {
                    <img src="@matches.match.Sprites.FrontDefault" class="mx-auto d-block" style="width:120px" />
                }

                <p class="text-center mb-1">
                    <strong>Height:</strong> @(matches.match.Height * 10) cm
                </p>
                <p class="text-center mb-1">
                    <strong>Weight:</strong> @(matches.match.Weight / 10.0) kg
                </p>
                <p class="text-center">
                    <strong>Score:</strong> @matches.score.ToString(format: "0.0")
                </p>
            </div>
        }
    </div>
}


@code {
    double heightFeet;
    double heightInch;
    double heightCm => ((heightFeet * 12) + heightInch) * 2.54;
    double weightKg;

    bool isLoading = false;
    string? error = null;

    private UserStats user = new UserStats();
    private EditContext? editContext;
    protected override void OnInitialized()
    {
        editContext = new EditContext(user);
    }

    Pokemon? bestMatch;
    List<(Pokemon match, double score)> top3 = new List<(Pokemon match, double score)>();

    private async Task FindMatch()
    {
        error = null;
        bestMatch = null;
        top3 = new List<(Pokemon match, double score)>();

        if (editContext is not null && !editContext.Validate())
        {
            error = "Please fix the validation errors above.";
            return;
        }

        isLoading = true;

        List<Pokemon>? list = await PokemonService.GetManyPokemonAsync(count: 100); // 100 faster for testing 

        if (list.Count == 0)
        {
            error = "Could not load Pokémon from API.";
            isLoading = false;
            return;
        }

        (Pokemon best, List<(Pokemon match, double score)> top3) result = PokemonService.FindClosestMatches(list, heightCm, weightKg);

        bestMatch = result.best;
        top3 = result.top3;

        isLoading = false;
    }
}