@page "/pokemon"
@using System.Reflection.Metadata
@using pokemon_project.Data
@inject PokemonService PokemonService


<h3>Pokémon Search</h3>

<!-- Search box -->
<div class="card p-3 mb-3">
    <input placeholder="Enter Pokemon name or ID..." />

    <button class="btn btn-primary">Search</button>
    <button class="btn btn-secondary">Random</button>
</div>

<!-- Handle error and empty -->
@if (isLoading)
{
    <p>Loading...</p>
}
else if (!string.IsNullOrEmpty(error))
{
    <div class="alert alert-danger">@error</div>
}
else if (pokemon is not null)
{
    <!-- Display -->
    <div class="card p-3">
        <h4 class="text-capitalize">@pokemon.Name (@pokemon.Id)</h4>

        <p><strong>Height:</strong> @pokemon.Height</p>
        <p><strong>Weight:</strong> @pokemon.Weight</p>
        <p><strong>Types:</strong> @string.Join(separator: ", ", pokemon.Types.Select(t => t.Type.Name))</p>
    </div>
}



@code {
    string searchText = "";
    Pokemon? pokemon;
    bool isLoading = false;
    string? error = null;
    
    private async Task Search()
    {
        error = null;
        pokemon = null;
        isLoading = true;

        Pokemon? result = await PokemonService.GetPokemonAsync(searchText);

        isLoading = false;

        if (result is null)
        {
            error = "Pokémon not found.";
        }
        else
        {
            pokemon = result;
        }
    }

}