@page "/pokemon"
@using System.Reflection.Metadata
@using pokemon_project.Data
@inject PokemonService PokemonService


<h3>Pokémon Search</h3>

<!-- Search box -->
<div class="card p-3 mb-3">
    <input @bind="searchText" class="form-control mb-2" placeholder="Enter Pokemon name or ID..." />

    <button class="btn btn-primary" @onclick="Search">Search</button>
    <button class="btn btn-secondary" @onclick="RandomPokemon">Random</button>
</div>

<!-- Handle error and empty -->
@if (isLoading)
{
    <p>Loading...</p>
}
else if (!string.IsNullOrEmpty(error))
{
    <div class="alert alert-danger">@error</div>
}
else if (pokemon is not null)
{
    <!-- Display -->
    <div class="card p-3">
        <h4 class="text-capitalize">@pokemon.Name (@pokemon.Id)</h4>

        @if (!string.IsNullOrEmpty(pokemon.Sprites.FrontDefault))
        {
            <img src="@pokemon.Sprites.FrontDefault" alt="@pokemon.Name" style="width:150px" />
        }

        <p><strong>Height:</strong> @pokemon.Height</p>
        <p><strong>Weight:</strong> @pokemon.Weight</p>
        <p><strong>Types:</strong> @string.Join(separator: ", ", pokemon.Types.Select(t => t.Type.Name))</p>

        <h5>Pokemon Info</h5>
        <!-- Sheet of stats -->
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Stat</th>
                    <th>Value</th>
                </tr>
            </thead>    
            <tbody>
                @foreach (PokemonStat info in pokemon.Stats) 
                {
                    <tr>
                        <td>@info.Stat.Name</td>
                        <td>@info.BaseStat</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}



@code {
    string searchText = "";
    Pokemon? pokemon;
    bool isLoading = false;
    string? error = null;
    
    private async Task Search()
    {
        error = null;
        pokemon = null;
        isLoading = true;

        Pokemon? result = await PokemonService.GetPokemonAsync(searchText);

        isLoading = false;

        if (result is null)
        {
            error = "Pokémon not found.";
        }
        else
        {
            pokemon = result;
        }
    }

    private async Task RandomPokemon()
    {
        searchText = PokemonService.GetRandomId().ToString();
        await Search();
    }
    
}