@page "/matchme"
@using pokemon_project.Data
@inject PokemonService PokemonService
@using pokemon_project.Models


<h3>Find Your Pokémon Twin</h3>

<EditForm EditContext="@editContext" OnValidSubmit="FindMatch">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="card p-3 mb-3">
        <div class="mb-2">
            <label><strong>Your Height</strong></label>

            <div class="height-container d-flex gap-2 flex-wrap">
                <!-- Input feet -->
                <div class="height-input">
                    <InputNumber @bind-Value="user.HeightFeet" class="form-control height-box" />
                    <ValidationMessage For="@(() => user.HeightFeet)" />
                    <small>Feet</small>
                </div>

                <!-- Input inches -->
                <div class="height-input">
                    <InputNumber @bind-Value="user.HeightInches" class="form-control height-box" />
                    <ValidationMessage For="@(() => user.HeightInches)" />
                    <small>Inches</small>
                </div>

                <!-- Display cm -->
                <div class="align-self-center cm-display">
                    <strong> =  @heightCm.ToString(format: "0.00") cm</strong>
                </div>
            </div>
        </div>

        <!-- Input weight -->
        <div class="mb-2">
            <label><strong>Your Weight (kg)</strong></label>
            <InputNumber @bind-Value="user.WeightKg" class="form-control weight-box"/>
            <ValidationMessage For="@(() => user.WeightKg)" />
        </div>

        <button class="btn btn-primary" type="submit">Find My Pokémon</button>
    </div>
</EditForm>



<!-- Handle error and empty -->
@if (isLoading)
{
    <p>Loading...</p>
}
else if (!string.IsNullOrEmpty(error))
{
    <div class="alert alert-danger">@error</div>
}
else if (bestMatch != null)
{
    <!-- Display main match -->
    <h4>Your Closest Match:</h4>
    <div class="card p-3 mb-4 text-center" style="width: 400px">
        <h4 class="center">
            <NavLink class="text-capitalize" href="@($"/pokemon/{bestMatch.Name}")">
                @bestMatch.Name
            </NavLink>  
        </h4>

        @if (!string.IsNullOrEmpty(bestMatch.Sprites.FrontDefault))
        {
            <img class="mx-auto" src="@bestMatch.Sprites.FrontDefault" style="width:200px" />
        }

        <p><h5><strong>Height: </strong>@(bestMatch.Height * 10) cm</h5></p>
        <p><h5><strong>Weight: </strong>@(bestMatch.Weight / 10.0) kg</h5></p>
    </div>

    <h5>Top 3 Matches</h5>
    <p>The lower the score the closer the match!</p>

    <div class="d-flex flex-wrap gap-3">
        <!-- Display top 3 -->
        @foreach ((Pokemon match, double score) matches in top3)
        {
            <div class="card p-3" style="width: 200px;">
                <h6 class="text-capitalize text-center">
                    <NavLink href="@($"/Pokemon/pokemon/{matches.match.Name}")">
                        @matches.match.Name
                    </NavLink>
                </h6>

                @if (!string.IsNullOrEmpty(matches.match.Sprites.FrontDefault))
                {
                    <img src="@matches.match.Sprites.FrontDefault" class="mx-auto d-block" style="width:120px" />
                }

                <p class="text-center mb-1">
                    <strong>Height:</strong> @(matches.match.Height * 10) cm
                </p>
                <p class="text-center mb-1">
                    <strong>Weight:</strong> @(matches.match.Weight / 10.0) kg
                </p>
                <p class="text-center">
                    <strong>Score:</strong> @matches.score.ToString(format: "0.0")
                </p>
            </div>
        }
    </div>
}


@code {
    double heightCm => ((user.HeightFeet * 12) + user.HeightInches) * 2.54;

    bool isLoading = false;
    string? error = null;

    private UserStats user = new UserStats();
    private EditContext? editContext;
    protected override void OnInitialized()
    {
        editContext = new EditContext(user);
    }

    Pokemon? bestMatch;
    List<(Pokemon match, double score)> top3 = new List<(Pokemon match, double score)>();

    private async Task FindMatch()
    {
        error = null;
        bestMatch = null;
        top3 = new List<(Pokemon match, double score)>();

        if (editContext is not null && !editContext.Validate())
        {
            error = "Please fix the validation errors above.";
            return;
        }

        isLoading = true;

        List<Pokemon>? list = await PokemonService.GetManyPokemonAsync(count: 898); // was 100 for faster for testing

        if (list.Count == 0)
        {
            error = "Could not load Pokémon from API.";
            isLoading = false;
            return;
        }

        (Pokemon best, List<(Pokemon match, double score)> top3) result = PokemonService.FindClosestMatches(list, heightCm,
        user.WeightKg);

        bestMatch = result.best;
        top3 = result.top3;

        isLoading = false;
    }
}